@import '../../styles/common.scss';

.cloth-review {
  .nav-tabs {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid #ced4da;

    .nav-link {
      align-self: start;
      color: var(--text-color4);
      background-color: transparent;
      border: transparent;
      padding: 15px 20px;
      margin-bottom: -1px;
      font-size: 19px;
      font-weight: 500;
      margin-right: 20px;
      white-space: nowrap;
      cursor: pointer;
      &:hover {
        border-bottom: 4px solid var(--theme-color);
        transition: all 0.5s ease;
      }
    }

    .nav-link.active {
      border-bottom: 4px solid var(--theme-color);
      transition: opacity 0.15s linear;
    }
  }
}