@import '../common.scss';
#CountDown .section-container {
  margin: auto;
  @include Flex(center, center);
  .btn {
    margin-left: 10px;
  }
}
#CartTable .section-container table {
  width: 100%;
  margin: auto;
  thead {
    background-color: #eff2f7;
    width: 100%;
    border: 0px solid;
    th {
      text-transform: uppercase;
      padding: 12px;
    }
  }
  tbody {
    width: 100%;
    > tr td {
      vertical-align: middle;
      border-bottom: 1px solid #c7c7c5 !important;
      min-width: 15%;
      input {
        width: 60px;
        padding: 5px;
      }
      img {
        height: 80px;
      }
    }
  }
}
#CartCheckoutSection {
  .section-container {
    width: 100%;
    margin: auto;
    gap: 12px;
    margin-bottom: 20px;
    .promo-section form {
      @include Flex(center, center);
      gap: 12px;
      flex: 1;
      .btn-solid-default {
        padding: 14px 16px;
      }
    }
    .checkout-button {
      flex: 1;
      @include Flex(start, end);
      .btn {
        padding: 14px 16px;
      }
    }
    .cart-box {
      flex: 1;
      background-color: #f0f8f0;
      padding: 16px;
      border-radius: 16px;
      h6 {
        margin-top: 8px;
      }
      span {
        float: right;
      }
      .btn {
        margin-top: 10px;
        a {
          color: #fff;
        }
      }
    }
  }
}
